---
const {text} = Astro.props;
---

<div class="h-screen flex items-center justify-center">
<div class="bg-purple-200 flex items-center justify-between max-w-96 m-auto max-h-[500px] h-[500px]">
    <div>
        <div>
            hola
        </div>
    </div>

    <div>

    </div>
</div>
</div>